.body {
  margin: 0 auto;
}
.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 100px;
  place-items: center;
  padding: 92px 49px 92px 51px;
  font-size: 18px;
  font-weight: 400;
}
.header__menu {
  justify-self: start;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
  text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link_active {
  text-decoration: none;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.address {
  justify-self: end;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  font-family:'Raleway', serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
}
.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
}
.aligned-text {
  display: block;
  letter-spacing: 30px;
}
.aligned-text_center {
  text-align: center;
  line-height: 100%;
}
.aligned-text_right {
  text-align: right;
  line-height: 100%;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  padding: 0 50px 50px 422px;
}
.cover__description-text {
  word-spacing: 17px;
}
.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px;
}
.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  padding-left: 40px;
  padding-bottom: 27px;
}
.lots__card-list {
  list-style-type: none;
  display: flex;
  gap: 25px;
}
.lots__card-list-item {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  width: 430px;
  min-height: 450px;
}
.card-link {
  text-decoration: none;
}
.card {
  padding: 50px 40px;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card__title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: underline;
}
.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 40px;
  text-underline-offset: 5px;
}
.about {
  padding: 0 50px 180px;
  display: flex;
  gap: 25px;
}
.about__column:last-child {
  margin-top: 102px;;
}
.about__logo {
  background-color: black;
  border-radius: 50%;
  padding: 62px 46px;
  margin: 0 95px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 98px;
  font-size: 20px;
  font-weight: 400;
}
.footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.address__footer {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  font-family:'Raleway', serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
  justify-self: start;
}
.footer__menu {
  font-size: 18px;
  font-weight: 400;
  justify-self: center;
  text-align: center;
}
.footer__menu-list {
  list-style-type: none;
  text-underline-offset: 5px;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 47px;
  margin-left: 200px;
}
.footer__social-icon {
  width: 48px;
}